{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{#<h1 align="center">Report</h1>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
    .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:48%;    //Specify your width here
    }
    td
    {
        border: 1px solid
    }

    table{
        text-align: left !important;
        border: 3px solid black !important;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    table.a {
    table-layout: auto;
    width: 180px;
    }

    @page {
    size: Letter; /* Change from the default size of A4 */
    margin: 0.5cm; /* Set margin on each page */
    }

    {#*#}
    {#{#}
    {#text-align: left !important;#}
    {#margin: auto !important;#}
    {#}#}

    h1{
    text-align: center;
    }

    </style>
{% endblock %}


{% block body %}

{% endblock %}

{% block content %}

{% set descriptionDetails = ({"appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is :",
                                 "appliedMineralFertilizerAgent": "The applied Mineral Fertilizer Agent is:",
                                 "appliedFertilizerAmountInDtPerHa":"The amount of Fertilizer Used is in Dts is:",
                                 "appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is in Kgs is:",
                                 "appliedMineralFertilizerNitrogenContentInKgPerHa": "The total amount of Mineral Fertilizer Nitrogen Content Used In Kg is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field ",
                                 "sownCrop":"The sown crop is :",
                                 "sownQuantityInKgPerHa": "The sown quantity in KG per Ha is",
                                 "appliedPesticideAgent":"The applied Pesticide Agent is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Machinename":"The Machine Name is",
                                 "harvestedCrop":"The Harvested crop is :",
                                 "harvestedQuantityInDtPerHa": "The Harvested Crop quantity in KG per Ha is",
                                 "transportedHarvest":"The Transported Harvest is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "appliedTillage":"The Applied Tillage is :",
                                 "TotalAmountOfFertilizerUsedinKGPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "TotalAmountOfFertilizerUsedinDtPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "AppliedMineralFertilizerAgents" : "Applied Mineral Fertilizer Agents are",
                                 "TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa" : "The Total Amount Of Mineral Fertilizer Nitrogen Content In Kg Per Ha is.",
                                 "NamesOfPeopleWorkedFertilizer": "The Names Of Farmers Who Worked On Fertilizer Activity ",
                                 "HarvestedCrops":"Harvested Crops are",
                                 "TotalHarvestedQuantityInDtPerHa":"The Total Amount Of Harvested Quantity in Dt Per Ha is",
                                 "NamesOfPeopleWorkedHarvesting":"The Names Of Farmers Who Worked On Harvesting Activity",
                                 "NamesOfMachinesUsedHarvesting":"The Names Of Machines Are Used For harvesting are",
                                 "AppliedTillage":"Applied Tillage Methods are",
                                 "NamesOfPeopleWorkedTillage":"The Names Of Farmers Who Worked On Tillage Activity are",
                                 "NamesOfMachinesUsedTillage":"The Names Of Machines Are Used For Tillage are",
                                 "SownCropsInFields":"The Sown Crops in Fields are",
                                 "NamesOfPeopleWorkedPlantation":"The Names Of Farmers Who Worked On Plantation Activity are",
                                 "TotalsownQuantityInKgPerHa":"The Total Amount Of Sown Quantity In KG PerHa is",
                                 "AppliedPesticideAgents":"APplied Pesticide Agents are",
                                 "TotalPesticideAmountUsedInLPerHa":"The Total Amount Of Pesticide Amount Used In L Per Ha is",
                                 "predicate" : "Details",
                                 "object": "Values",
                                 "subject": "LogJournal",
                                 "image": "The Image for the Activity is"}) %}
<br>
<br>

{#{{ finalresult }}#}
<br>
<br>

{% import "bootstrap/wtf.html" as wtf %}
<form method="post" action="/{{route}}"  enctype="multipart/form-data">
{% for key, value in resultsupdated.items() %}
    <h1 class="h1">{{ key }} </h1>   <br>
    {% for key1, value1 in value.items() %}
{#        {{ key1 }} : {{ value1 }}#}
        {% if 'example' in key1|string %}
            <table border="3" align="center" class="table table-striped">
            {% for key2, value2 in value1.items() %}
                <tr><td> <b> {{ key2 }} </b> </td>
                {% for othervalues in value2 %}
                    <tr><td> {{ othervalues }} </td></tr>
                {% endfor %}
                <br> <br>
            {% endfor %}
            </table> <br> <br>
        {% endif %}


        {% if "Logjournal" in key1|string %}
            <table border="3" align="center" class="table table-striped">
            <tr>
               <td rowspan="{{ value1|length }}">{{ key1 }}</td>
            </tr>
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 %}
                    <tr>
                    <td>
                        {% if key4 in descriptionDetails %}
                            {{ descriptionDetails[key4] }}
                        {% else %}
                            {{ key4 }}
                        {% endif %}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:300px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
            <br>
        {% endif %}

        {% if key1 is number %}
            <table border="3" align="center" class="table table-striped">
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 %}
                    <tr>
                    <td>
                        {{ key4 }}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

    {% endfor %}
{% endfor %}

{% if farmvalue %}
    {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
{% endif %}
    <br>
  <br>
{#    <input class="btn btn-warning btn-xl " type="submit" name="submit" value="submit" />#}
{#    <button type="button" class="btn btn-xl "><a href="/">Cancel</a></button>#}
</form>
{% endblock %}
    