body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /*align-items: center;*/
   /*margin-top: 20%;*/
   alignment: revert;
}

.container1 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /*align-items: center;*/
   margin-top: 15%;
   alignment: revert;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: left;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}

.wrapper {
    text-align: center;
}

.parent {
    display: flex;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  width: 100%;
  /*align-content: center;*/
  /*position: relative;*/
}

.button2 {
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  width: 100%;
  /*align-content: center;*/
  /*position: relative;*/
}

.button3 {
  background-color: lightgreen; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  width: 100%;
  /*align-content: center;*/
  /*position: relative;*/
}

.button4 {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  width: 100%;
  /*align-content: center;*/
  /*position: relative;*/
}

.vcen {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.selectwrapper {
  width: 50px !important;
}

input {
  display: block;
  margin: auto;
}

html, body {
  /*height: 100%;*/
  height: auto !important;
  /*background-image: url("/static/images/tractor-in-crop-field.jpg");*/
  margin: 0;
}

.full-height: {
  height = 100%;
}

.keepcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}