{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

<script>

function myFunction() {
  var display = document.getElementById("templatedisplay");
  display.style.display = "block";
}

function onButtonClick(){
  document.getElementById('textInput').className="show";
}

function onButtonClick1(){
  document.getElementById('textInput1').className="show";
}

</script>

<style type="text/css">

body {
  background-image: url("/static/images/farmer2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.hide{
  display:none;
}

</style>

{% endblock %}

{% block content %}
  <div>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="container1">
      <h1>Please Choose an Option</h1>
      <br>
      <br>
      <br>
  </div>
    <div class="container">
    <form method="post">
        {% for template in visutemplates %}
            <input type="submit" class="button2" name={{ template }} value={{ template }}>
            <br>
            <br>
        {% endfor %}
        <input type="button" name="answer" value="Add A New Template" onclick="onButtonClick()" />
        <br>
        <br>
        <br>
        <input class="hide" type="text" id="textInput" name="newTemplatename"/>
        <br>
        <br>
        <input type="button" name="answer1" value="Delete The Existing Template" onclick="onButtonClick1()" />
        <br>
         <br>
        <br>
         <input class="hide" type="text1" id="textInput1" name="deleteTemplatename"/>
        <br>
        <br>
        <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
        <br>
        <button type="button" class="btn btn-warning btn-lg btn-block"><a href="/">Cancel</a></button>
         <br>
        </div>
        <button type="button" class="btn btn-warning btn-lg btn-block"><a href="#" onclick="history.go(-1)">Go Back</a></button>

{#        <br>#}
{#        <input type="submit" class="button" name="Example" value="Example">#}
    </form>
  </div>
  </div>
{% endblock %}


