{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

<style type="text/css">

body {
  background-image: url("/static/images/farmer2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>

{% endblock %}

{% block content %}
  <div>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="container1">
      <h1>Please Choose an Option</h1>
      <br>
      <br>
      <br>
  </div>
    <div class="container">
    <form method="post">
        <input type="submit" class="button2" name="Configure - Query and Topics" value="Configure - Query and Topics">
        <br>
        <br>
        <input type="submit" class="button2" name="Modify - CustomQuery and Topic" value="Modify - CustomQuery and Topic">
        <br>
        <br>
        <input type="submit" class="button2" name="Configure EndUser Templates" value="Configure EndUser Templates">
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Add Visualization Template" value="Add Visualization Template">#}
        <br>
        <br>
{#        <input type="submit" class="button2" name="Choose Visu Template and Topics" value="Choose Visu Template and Topics">#}
{#        <br>#}
{#        <br>#}
        <input type="submit" class="button2" name="Configure Report - Templates" value="Configure Report - Templates">
        <br>
        <br>
        <button type="button" class="btn btn-warning btn-lg btn-block"><a href="#" onclick="history.go(-1)">Go Back</a></button>

{#        <br>#}
{#        <input type="submit" class="button" name="Example" value="Example">#}
    </form>
  </div>
  </div>
{% endblock %}


