<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<script>
</script>
<h1 align="center">Please Modify Visualization Template</h1>
<br>

<form method="post" action="/{{route}}"  enctype="multipart/form-data">

{#    <input type="radio" id={{ topicsofinterest }}  name="topicsofinterest" value={{ topicsofinterest }}> <label>{{ topicsofinterest }}</label> <br>#}

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Modify The Visualization Template</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" name="newtopicname" value={{ templatevalue }} aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Please Modify The Template Variables</label>
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" name="newtopicvalue" rows="100">{{ htmltext }}</textarea>
    </div>

    <br>
    <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
    <br>
    {% if not display %}
    <button type="button" class="btn btn-lg btn-block"><a href="/">Cancel</a></button>
    <br>
    {% else %}
    <button type="button" class="btn btn-lg btn-block"><a href="#" onclick="history.go(-1)">Go Back</a></button>
    <br>
    {% endif %}

</form>

</body>
</html>