{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div id="mapid" style="height: 500px;"></div>
    <script>

    //var mymap = L.map('mapid').setView([51.505, -0.09], 13);

    //var mymap = new L.map('mapid', {doubleClickZoom: false}).locate({setView: true, maxZoom: 16});

    var mymap = L.map('mapid', {
    minZoom: 9,
    maxZoom: 18,
    zoom: 12,
    center: [40.423494,-3.682068],
    doubleClickZoom: false,
        }).locate({setView: true});

    //L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    //}).addTo(mymap);

    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                }).addTo(mymap);;

    var drawnItems = new L.featureGroup().addTo(mymap);
    var drawControl = new L.Control.Draw({
        draw: {
        circle: true,
        rectangle: true,
        polyline: true,
        polygon: true
    },
    edit: {featureGroup: drawnItems}
        }).addTo(mymap);

    mymap.addControl(drawControl);

 {#   mymap.on('draw:created', function(e) {
        var type = e.layerType;
        var layer = e.layer;
        var idIW = L.popup();
        var content = '<span><b>Shape Name</b></span><br/><input id="shapeName" type="text"/><br/><br/><span><b>Shape Description<b/></span><br/><textarea id="shapeDesc" cols="25" rows="5"></textarea><br/><br/><input type="button" id="okBtn" value="Save" onclick="saveIdIW()"/>';
        idIW.setContent(content);
        idIW.setLatLng(layer.getBounds().getCenter());
        alert(layer.getBounds().getCenter());
        idIW.openOn(mymap);
        //console.log(layer.getLatLngs());
        var points = layer._latlngs;
        var geojson = layer.toGeoJSON();
        drawnItems.addLayer(layer)
    });#}

    mymap.on('draw:created', function (e) {
        var type = e.layerType,
            layer = e.layer;

    if (type === 'polygon') {
        // structure the geojson object
        var geojson = {};
        geojson['type'] = 'Feature';
        geojson['geometry'] = {};
        geojson['geometry']['type'] = "Polygon";

        // export the coordinates from the layer
        let coordinates = [];
        let latlngs = layer.getLatLngs()[0];
        //console.log(typeof latlngs);
        //console.log(latlngs.length);
        //var m = latlngs.length;
        //console.log(m);

        //Need to modify code here
        for (var i = 0; i < latlngs.length; i++) {
            console.log(latlngs[i].lat);
            coordinates.push([latlngs[i].lng, latlngs[i].lat]);
            //console.log(coordinates);
        }

        // push the coordinates to the json geometry
        geojson['geometry']['coordinates'] = [coordinates];

        // Finally, show the poly as a geojson object in the console
        console.log(JSON.stringify(geojson));

    }

    if (type === 'rectangle') {
        // structure the geojson object
        var geojson = {};
        geojson['type'] = 'Feature';
        geojson['geometry'] = {};
        geojson['geometry']['type'] = "rectangle";

        // export the coordinates from the layer
        let coordinates = [];
        let latlngs = layer.getLatLngs()[0];
        console.log(typeof latlngs);
        console.log(latlngs.length);
        //var m = latlngs.length;
        //console.log(m);

        //Need to modify code here
        for (var i = 0; i < latlngs.length; i++) {
            console.log(latlngs[i].lat);
            coordinates.push([latlngs[i].lng, latlngs[i].lat]);
            //console.log(coordinates);
        }

        // push the coordinates to the json geometry
        geojson['geometry']['coordinates'] = [coordinates];

        // Finally, show the poly as a geojson object in the console
        console.log(JSON.stringify(geojson));

    }

    drawnItems.addLayer(layer);

    });

    </script>
{% endblock %}

{##}
{#{% block content %}#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">#}
{#    <img style="max-width: 200px" src="{{image}}" />#}
{#    <form method="post">#}
{#        <br>#}
{#        <input type="submit" class="button" name="Submit" value="submit">#}
{#    </form>#}
{#{% endblock %}#}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% import "bootstrap/wtf.html" as wtf %}
<img style="max-width: 200px" src="{{image}}" />
<form method="post" action="/{{route}}"  enctype="multipart/form-data">
  <fieldset>
    {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
    <input class="btn btn-success" type="submit" value="Submit" />
    <button type="button" class="btn"><a href="/">Cancel</a></button>
    </form>
{% endblock %}