
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Activities In Farm Field</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
{#img {#}
{#  display: block !important;#}
{#  margin-left: auto !important;#}
{#  margin-right: auto !important;#}
{#}#}
{##}
{#html {#}
{#  text-align: left !important;#}
{#  display: inline-block !important;#}
{#}#}
{##}
{#body{#}
{#  text-align: left !important;#}
{#}#}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  text-align: left;
}
</style>
</head>

<body>

    {% set descriptionDetails = ({"appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is :",
                                 "appliedMineralFertilizerAgent": "The applied Mineral Fertilizer Agent is:",
                                 "appliedFertilizerAmountInDtPerHa":"The amount of Fertilizer Used is in Dts is:",
                                 "appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is in Kgs is:",
                                 "appliedMineralFertilizerNitrogenContentInKgPerHa": "The total amount of Mineral Fertilizer Nitrogen Content Used In Kg is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field ",
                                 "sownCrop":"The sown crop is :",
                                 "sownQuantityInKgPerHa": "The sown quantity in KG per Ha is",
                                 "appliedPesticideAgent":"The applied Pesticide Agent is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Machinename":"The Machine Name is",
                                 "harvestedCrop":"The Harvested crop is :",
                                 "harvestedQuantityInDtPerHa": "The Harvested Crop quantity in KG per Ha is",
                                 "transportedHarvest":"The Transported Harvest is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "appliedTillage":"The Applied Tillage is :"}) %}


<h1 style="text-align:center">Activities Performed On Fields : {% for dict_item in details %} {{dict_item.get("Fieldname")}} {% endfor %} </h1>
<br>
<table border="1" style="text-align: left" width="60%" align="center">
{% for dict_item in details %}
<tr><td><img src="{{dict_item.get("image")}}" style="max-width:200px;"><td><td align="left">


    <b>{{"Date"}} : {{dict_item.get("date")}}</b>
    <br>
    <b>{{"Time"}} : {{dict_item.get("time")}}</b>
    <br>
    <b>{{"Performed Activity On Field"}} : {{dict_item.get("activity")}}</b>
    <br>
    <b>{{"Field Name"}} : {{dict_item.get("Fieldname")}}</b>
    <br>
    <br>

   {% for key, value in dict_item.items() %}
   {% if "image" != key  %}
           {% if "date" != key  %}
               {% if "time" != key %}
                  {% if "activity" != key %}
                      {% if "Fieldname" != key %}
                        {% if value != '' %}
            {{ descriptionDetails[key] }} : <b> {{ value }} </b> <br>
                {% endif %}
               {% endif %}
              {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
   {% endfor %}
   <br>
   </td>
   </tr>
{% endfor %}
</table>
<input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
<br>
<input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Cancel" />
</body>


{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% import "bootstrap/wtf.html" as wtf %}
<form method="post" action="/{{route}}"  enctype="multipart/form-data">
  <fieldset>
    {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
    <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
    <br>
    <button type="button"  class="btn btn-lg btn-block"><a href="/">Cancel</a></button>
    <input class="btn btn-warning btn-lg" type="cancel" value="Cancel" />
    </form>
{% endblock %}

</html>