{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{#<h1 align="center">Report</h1>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
    .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:48%;    //Specify your width here
    }
    td
    {
        border: 1px solid
    }

    table{
        text-align: left !important;
    }

    {#*#}
    {#{#}
    {#text-align: left !important;#}
    {#margin: auto !important;#}
    {#}#}

    </style>
{% endblock %}


{% block body %}

{% endblock %}

{% block content %}

{% set descriptionDetails = ({"appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is :",
                                 "appliedMineralFertilizerAgent": "The applied Mineral Fertilizer Agent is:",
                                 "appliedFertilizerAmountInDtPerHa":"The amount of Fertilizer Used is in Dts is:",
                                 "appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is in Kgs is:",
                                 "appliedMineralFertilizerNitrogenContentInKgPerHa": "The total amount of Mineral Fertilizer Nitrogen Content Used In Kg is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field ",
                                 "sownCrop":"The sown crop is :",
                                 "sownQuantityInKgPerHa": "The sown quantity in KG per Ha is",
                                 "appliedPesticideAgent":"The applied Pesticide Agent is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Machinename":"The Machine Name is",
                                 "harvestedCrop":"The Harvested crop is :",
                                 "harvestedQuantityInDtPerHa": "The Harvested Crop quantity in KG per Ha is",
                                 "transportedHarvest":"The Transported Harvest is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "appliedTillage":"The Applied Tillage is :",
                                 "TotalAmountOfFertilizerUsedinKGPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "TotalAmountOfFertilizerUsedinDtPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "AppliedMineralFertilizerAgents" : "Applied Mineral Fertilizer Agents are",
                                 "TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa" : "The Total Amount Of Mineral Fertilizer Nitrogen Content In Kg Per Ha is.",
                                 "NamesOfPeopleWorkedFertilizer": "The Names Of Farmers Who Worked On Fertilizer Activity ",
                                 "HarvestedCrops":"Harvested Crops are",
                                 "TotalHarvestedQuantityInDtPerHa":"The Total Amount Of Harvested Quantity in Dt Per Ha is",
                                 "NamesOfPeopleWorkedHarvesting":"The Names Of Farmers Who Worked On Harvesting Activity",
                                 "NamesOfMachinesUsedHarvesting":"The Names Of Machines Are Used For harvesting are",
                                 "AppliedTillage":"Applied Tillage Methods are",
                                 "NamesOfPeopleWorkedTillage":"The Names Of Farmers Who Worked On Tillage Activity are",
                                 "NamesOfMachinesUsedTillage":"The Names Of Machines Are Used For Tillage are",
                                 "SownCropsInFields":"The Sown Crops in Fields are",
                                 "NamesOfPeopleWorkedPlantation":"The Names Of Farmers Who Worked On Plantation Activity are",
                                 "TotalsownQuantityInKgPerHa":"The Total Amount Of Sown Quantity In KG PerHa is",
                                 "AppliedPesticideAgents":"APplied Pesticide Agents are",
                                 "TotalPesticideAmountUsedInLPerHa":"The Total Amount Of Pesticide Amount Used In L Per Ha is",
                                 "predicate" : "Details",
                                 "object": "Values",
                                 "subject": "LogJournal",
                                 "image": "The Image for the Activity is"}) %}
<br>
<br>


{% for item in resulttodisplay %}
     <h3 align="center"> {{ item }}</h3>
    <br>
    {% for item in resulttodisplay[item] %}
        {% for key, value in item.items() if loop.first %}
            {{ key }}
        {% endfor %}
    {% endfor %}

    {% for item in resulttodisplay[item] %}
        {% for key, value in item.items() %}
            {% if "data:image/jpeg;base64," in value %}
                    <td align="left"><img src="{{ value }}" style="max-width:400px;"></td>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% for item in resulttodisplay %}
{#    <table align="center">#}
{#    <tr>#}
{#    <td>#}
{#        <h3 align="center"> {{ item }} </h3>#}
{#    </td>#}
{#    </tr>#}
{#    </table>#}

    <h3 align="center"> {{ item }}</h3>


    <br>

    <table border="3" align="center" width="70%">

    <tr>
    {% for item in resulttodisplay[item] %}
        {% for key, value in item.items() if loop.first %}
            {% if key in descriptionDetails %}
                <td align="left" width="40%"><b>{{ descriptionDetails[key] }}</b></td>
            {% endif %}

            {% if key not in descriptionDetails %}
                <td align="left" width="40%"><b>{{ key }}</b></td>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tr>

    {% for item in resulttodisplay[item] %}
        <tr>
        {% for key, value in item.items() %}
            {% if "POLYGON" not in value and "asWKT" not in value %}
                {% if "data:image/jpeg;base64," in value %}
                    <td align="left"><img src="{{ value }}" style="max-width:400px;"></td>
                {% endif %}

                {% if "data:image/jpeg;base64," not in value %}
                    {% if value in descriptionDetails %}
                        <td align="left" width="40%"><b>{{ descriptionDetails[value] }}</b></td>
                    {% endif %}

                    {% if value not in descriptionDetails %}
                        <td align="left" width="40%"><b>{{ value }}</b></td>
                    {% endif %}
                {% endif %}

            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}

    </table> <br>

{% endfor %}
</table>



{% endblock %}