{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center">Enter Activity Details</h1>
{% endblock %}

{% block body %}
<form method="post">
    <h2> Activity Name : Seeding</h2>

  <div class="form-group">
    <label for="formGroupExampleInput">Date</label>
    <input class="form-control" type="text" placeholder="20-11-2019">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Time</label>
    <input class="form-control" type="text" placeholder="Current Time">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">PersonName</label>
    <input class="form-control" type="text" placeholder="Your Name">
  </div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload an Image</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>

<form method="post">
    <input class="btn btn-primary btn-lg btn-block" type="submit" name="Submit" value="Submit">
</form>

</form>
{% endblock %}

{% block content %}
{% endblock %}