<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .checkboxes {
      text-align:center;
     }

    .checkboxes input{
      margin: 0px 0px 0px 0px;
     }

     .checkboxes label{
       margin: 0px 30px 0px 3px;
     }

    html {
    text-align: left;
    }

    table, th, td {
        border: 1px solid black;
    }

    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }

    </style>

</head>
<body>

<form method="POST">



{% set FertilizerDetails = ({"appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is :",
                                 "appliedMineralFertilizerAgent": "The applied Mineral Fertilizer Agent is:",
                                 "appliedFertilizerAmountInDtPerHa":"The amount of Fertilizer Used is in Dts is:",
                                 "appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is in Kgs is:",
                                 "appliedMineralFertilizerNitrogenContentInKgPerHa": "The total amount of Mineral Fertilizer Nitrogen Content Used In Kg is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field "}) %}

{% set PlantationDetails = ({"sownCrop":"The sown crop is :",
                                 "sownQuantityInKgPerHa": "The sown quantity in KG per Ha is",
                                 "appliedPesticideAgent":"The applied Pesticide Agent is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field "}) %}

{% set SeedingDetails = ({"Machinename":"The Machine Name is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field "}) %}

{% set HarvestingDetails = ({"harvestedCrop":"The Harvested crop is :",
                                 "harvestedQuantityInDtPerHa": "The Harvested Crop quantity in Dt per Ha is",
                                 "transportedHarvest":"The Transported Harvest is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Machinename" : "The Machine Name is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field "}) %}

{% set TillingDetails = ({"appliedTillage":"The Applied Tillage is :",
                                 "Machinename" : "The Machine Name is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field "}) %}

{% set mydictonary1 = ({"FertilizerDetails":'', "HarvestingDetails":'',"TillingDetails":'', "CropDetails":'', "SeedingDetails":''}) %}

{% set mydictionary2 = ({"ApplyingFertilizer":'FertilizerDetails', "Harvesting":'HarvestingDetails',"Tilling":'TillingDetails', "Plantation":'CropDetails', "Seeding":'SeedingDetails'}) %}

<script>

function fertilizerFunction() {
  var checkBox = document.getElementById("myCheck");
  var subFertilizer = document.getElementById("fertlizersuboptions");
  var one = document.getElementById("one");
  var three = document.getElementById("three");
  var five = document.getElementById("five");
  var seven = document.getElementById("seven");
  var nine = document.getElementById("nine");

  var text = document.getElementById("text");
  var texttable =  document.getElementById("texttable");

  if (checkBox.checked == true){
        subFertilizer.style.display = "block";
  }
  else {
     subFertilizer.style.display = "none";
     text.style.display = "none";
     texttable.style.display = "none";
     one.style.display = "none";
     three.style.display = "none";
     five.style.display = "none";
     seven.style.display = "none";
     nine.style.display = "none";
  }
}

function subfertilizerFunction() {
    var checkBoxspecific = document.getElementById("subfert");
    var one = document.getElementById("one");
    var two = document.getElementById("two");

    if (checkBoxspecific.checked == true) {
        one.style.display = "block";
        two.style.display = "block";
    }

    else{
        one.style.display = "none";
        two.style.display = "none";
    }

    var checkBoxspecific1 = document.getElementById("subfert1");
    var three = document.getElementById("three");
    var four = document.getElementById("four");

    if (checkBoxspecific1.checked == true) {
        three.style.display = "block";
        four.style.display = "block";
    }

    else{
        three.style.display = "none";
        four.style.display = "none";
    }

    var checkBoxspecific2 = document.getElementById("subfert2");
    var five = document.getElementById("five");
    var six = document.getElementById("six");

    if (checkBoxspecific2.checked == true) {
        five.style.display = "block";
        six.style.display = "block";
    }

    else{
        five.style.display = "none";
        six.style.display = "none";
    }

    var checkBoxspecific3 = document.getElementById("subfert3");
    var seven = document.getElementById("seven");

    if (checkBoxspecific3.checked == true) {
        seven.style.display = "block";

    }

    else{
        seven.style.display = "none";
    }

    var checkBoxspecific4 = document.getElementById("subfert4");
    var nine = document.getElementById("nine");
    if (checkBoxspecific4.checked == true) {
        nine.style.display = "block";

    }

    else{
        nine.style.display = "none";
    }

    var checkBoxall = document.getElementById("subfert5");

    var text = document.getElementById("text");
    var texttable =  document.getElementById("texttable");

    if (checkBoxall.checked == true){
        text.style.display = "block";
        texttable.style.display = "block";
    }

    else {
     text.style.display = "none";
     texttable.style.display = "none";
    }
}

function harvestingFunction() {
  var checkBox = document.getElementById("myCheck1");
  var subHarvesting = document.getElementById("harvestingsuboptions");
  var eleven = document.getElementById("eleven");
  var thirteen = document.getElementById("thirteen");
  var fifteen = document.getElementById("fifteen");
  var seventeen = document.getElementById("seventeen");

  var text = document.getElementById("text1");
  var texttable =  document.getElementById("texttable1");

  if (checkBox.checked == true){
        subHarvesting.style.display = "block";
  } else {
     subHarvesting.style.display = "none";
     text.style.display = "none";
     texttable.style.display = "none";
     eleven.style.display = "none";
     thirteen.style.display = "none";
     fifteen.style.display = "none";
     seventeen.style.display = "none";
  }
}

function subharvestingFunction() {
    var checkBoxspecific = document.getElementById("subharv");
    var eleven = document.getElementById("eleven");

    if (checkBoxspecific.checked == true ) {
        eleven.style.display = "block";
    }

    else {
        eleven.style.display = "none";
    }

    var checkBoxspecific1 = document.getElementById("subharv1");
    var thirteen = document.getElementById("thirteen");

    if (checkBoxspecific1.checked == true ) {
        thirteen.style.display = "block";
    }

    else {
        thirteen.style.display = "none";
    }

    var checkBoxspecific2 = document.getElementById("subharv2");
    var fifteen = document.getElementById("fifteen");

    if (checkBoxspecific2.checked == true ) {
        fifteen.style.display = "block";
    }

    else {
        fifteen.style.display = "none";
    }

    var checkBoxspecific3 = document.getElementById("subharv3");
    var seventeen = document.getElementById("seventeen");

    if (checkBoxspecific3.checked == true ) {
        seventeen.style.display = "block";
    }

    else {
        seventeen.style.display = "none";
    }

    var checkBoxall = document.getElementById("subharv4");
    var text = document.getElementById("text1");
    var texttable =  document.getElementById("texttable1");

    if (checkBoxall.checked == true){
        text.style.display = "block";
        texttable.style.display = "block";
     }

    else {
     text.style.display = "none";
     texttable.style.display = "none";
    }
}

function tillingFunction() {
  var checkBox = document.getElementById("myCheck2");
  var subTilling = document.getElementById("tillingsuboptions");
  var ninteen = document.getElementById("ninteen");
  var twentyone = document.getElementById("twentyone");
  var twentythree = document.getElementById("twentythree");

  var text = document.getElementById("text2");
  var texttable =  document.getElementById("texttable2");

  if (checkBox.checked == true){
        subTilling.style.display = "block";
  } else {
     subTilling.style.display = "none";
     text.style.display = "none";
     texttable.style.display = "none";
     ninteen.style.display = "none";
     twentyone.style.display = "none";
     twentythree.style.display = "none";
  }
}

function subtillingFunction() {
    var checkBoxspecific = document.getElementById("subtill");
    var ninteen = document.getElementById("ninteen");

    if (checkBoxspecific.checked == true ) {
        ninteen.style.display = "block";
    }

    else {
        ninteen.style.display = "none";
    }

    var checkBoxspecific1 = document.getElementById("subtill1");
    var twentyone = document.getElementById("twentyone");

    if (checkBoxspecific1.checked == true ) {
        twentyone.style.display = "block";
    }

    else {
        twentyone.style.display = "none";
    }


    var checkBoxspecific2 = document.getElementById("subtill2");
    var twentythree = document.getElementById("twentythree");

    if (checkBoxspecific2.checked == true ) {
        twentythree.style.display = "block";
    }

    else {
        twentythree.style.display = "none";
    }

    var checkBoxall = document.getElementById("subtill3");
    var text = document.getElementById("text2");
    var texttable =  document.getElementById("texttable2");

    if (checkBoxall.checked == true){
        text.style.display = "block";
        texttable.style.display = "block";
     }

    else {
     text.style.display = "none";
     texttable.style.display = "none";
    }
}

function cropFunction() {
  var checkBox = document.getElementById("myCheck3");
  var subCrop = document.getElementById("cropsuboptions");

  var twentyfive = document.getElementById("twentyfive");
  var twentyseven = document.getElementById("twentyseven");
  var twentynine = document.getElementById("twentynine");
  var thirtyone = document.getElementById("thirtyone");
  var thirtythree = document.getElementById("thirtythree");

  var text = document.getElementById("text3");
  var texttable =  document.getElementById("texttable3");

  if (checkBox.checked == true){
        subCrop.style.display = "block";
  } else {
     subCrop.style.display = "none";
     text.style.display = "none";
     texttable.style.display = "none";
     twentyfive.style.display = "none";
     twentyseven.style.display = "none";
     twentynine.style.display = "none";
     thirtyone.style.display = "none";
     thirtythree.style.display = "none";
  }
}

function subcropFunction() {
    var checkBoxspecific = document.getElementById("subcrop");
    var twentyfive = document.getElementById("twentyfive");
    var twentyseven = document.getElementById("twentyseven");
    var twentynine = document.getElementById("twentynine");
    var thirtyone = document.getElementById("thirtyone");
    var thirtythree = document.getElementById("thirtythree");

    if (checkBoxspecific.checked == true ) {
        twentyfive.style.display = "block";
    }

    else {
        twentyfive.style.display = "none";
    }

    var checkBoxspecific1 = document.getElementById("subcrop1");

    if (checkBoxspecific1.checked == true ) {
        twentyseven.style.display = "block";
    }

    else {
        twentyseven.style.display = "none";
    }

    var checkBoxspecific2 = document.getElementById("subcrop2");

    if (checkBoxspecific2.checked == true ) {
        twentynine.style.display = "block";
    }

    else {
        twentynine.style.display = "none";
    }

    var checkBoxspecific3 = document.getElementById("subcrop3");

    if (checkBoxspecific3.checked == true ) {
        thirtyone.style.display = "block";
    }

    else {
        thirtyone.style.display = "none";
    }

    var checkBoxspecific4 = document.getElementById("subcrop4");

    if (checkBoxspecific4.checked == true ) {
        thirtythree.style.display = "block";
    }

    else {
        thirtythree.style.display = "none";
    }

    var checkBoxall = document.getElementById("subcrop5");
    var text = document.getElementById("text3");
    var texttable =  document.getElementById("texttable3");

    if (checkBoxall.checked == true){
        text.style.display = "block";
        texttable.style.display = "block";
     }

    else {
     text.style.display = "none";
     texttable.style.display = "none";
    }
}

function seedingFunction() {
  var checkBox = document.getElementById("myCheck4");
  var subSeeding = document.getElementById("seedingsuboptions");


  var text = document.getElementById("text4");
  var texttable =  document.getElementById("texttable4");

  if (checkBox.checked == true){
        subSeeding.style.display = "block";
  } else {
     subSeeding.style.display = "none";
     text.style.display = "none";
     texttable.style.display = "none";
  }
}

function subseedingFunction() {
    var checkBoxspecific = document.getElementById("subseeding");
    var checkBoxspecific1 = document.getElementById("subseeding1");
    var checkBoxspecific2 = document.getElementById("subseeding2");
    var checkBoxspecific3 = document.getElementById("subseeding3");
    var checkBoxall = document.getElementById("subseeding4");

    if (checkBoxspecific.checked == true ) {

    }

    else {

    }

    var text = document.getElementById("text4");
    var texttable =  document.getElementById("texttable4");

    if (checkBoxall.checked == true){
        text.style.display = "block";
        texttable.style.display = "block";
     }

    else {
     text.style.display = "none";
     texttable.style.display = "none";
    }
}


</script>

{#<h1 style="text-align:center">Activities Performed On Fields : {% for dict_item in details %} {{dict_item.get("Fieldname")}} {% endfor %} </h1>#}
<h1 style="text-align:center">Activities Performed On Field </h1>
<img src= "{{ user_image }}" hspace="40" class="center">
<br>
<br>
<br>

{% for item in list %}
    {% if "FertilizerDetails" == item %}
        {{ mydictonary1.update({'FertilizerDetails': True}) or ''  }}
    {% endif %}

    {% if "HarvestingDetails" == item %}
        {{ mydictonary1.update({'HarvestingDetails': True}) or '' }}
    {% endif %}

    {% if "TillingDetails" == item %}
        {{ mydictonary1.update({'TillingDetails': True}) or '' }}
    {% endif %}

    {% if "CropDetails" == item %}
        {{ mydictonary1.update({'CropDetails': True}) or '' }}
    {% endif %}

    {% if "SeedingDetails" == item %}
        {{ mydictonary1.update({'SeedingDetails': True}) or '' }}
    {% endif %}

{% endfor %}

<div class="checkboxes">
<span>

{% for key, value in mydictonary1.items() %}
    {% if value == True %}

        {% if "FertilizerDetails" == key %}
            <input type="checkbox" id="myCheck"   name="hello" value="ApplyingFertilizer" onclick="fertilizerFunction()"> <label><b>FertilizerDetails</b></label> <br>
            <div class="checkboxes" id="fertlizersuboptions" style="display:none;">
            <input type="checkbox" id="subfert5"   name="fertilizer" value="ApplyingFertilizer" onclick="subfertilizerFunction()"> <label>AllDetails</label>
            <input type="checkbox" id="subfert"    name="fertilizer" value="TotalAmountOfFertilizerUsedinKGPerHa" onclick="subfertilizerFunction()"> <label>TotalAmountOfFertilizerUsedinKGPerHa</label>
            <input type="checkbox" id="subfert1"   name="fertilizer" value="TotalAmountOfFertilizerUsedinDtPerHa" onclick="subfertilizerFunction()"> <label>TotalAmountOfFertilizerUsedinDtPerHa</label>
            <input type="checkbox" id="subfert2"   name="fertilizer" value="AppliedMineralFertilizerAgents" onclick="subfertilizerFunction()"> <label>AppliedMineralFertilizerAgents</label> <br>
            <input type="checkbox" id="subfert3"   name="fertilizer" value="TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa" onclick="subfertilizerFunction()"> <label>TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa</label>
            <input type="checkbox" id="subfert4"   name="fertilizer" value="NamesOfPeopleWorkedFertilizer" onclick="subfertilizerFunction()"> <label>NamesOfPeopleWorked</label>
            <br><br>
            </div>
        {% endif %}

        {% if "HarvestingDetails" == key %}
            <input type="checkbox" id="myCheck1"  name="hello" value="Harvesting" onclick="harvestingFunction()"> <label><b>HarvestingDetails</b></label> <br>
            <div class="checkboxes" id="harvestingsuboptions" style="display:none;">
            <input type="checkbox" id="subharv4"   name="harvesting" value="Harvesting" onclick="subharvestingFunction()"> <label>AllDetails</label>
            <input type="checkbox" id="subharv"    name="harvesting" value="HarvestedCrops" onclick="subharvestingFunction()"> <label>HarvestedCrops</label>
            <input type="checkbox" id="subharv1"   name="harvesting" value="TotalHarvestedQuantityInDtPerHa" onclick="subharvestingFunction()"> <label>TotalHarvestedQuantityInDtPerHa</label>
            <input type="checkbox" id="subharv2"   name="harvesting" value="NamesOfPeopleWorkedHarvesting" onclick="subharvestingFunction()"> <label>NamesOfPeopleWorked</label>
            <input type="checkbox" id="subharv3"   name="harvesting" value="NamesOfMachinesUsedHarvesting" onclick="subharvestingFunction()"> <label>NamesOfMachinesUsed</label> <br><br>
            </div>
        {% endif %}


        {% if "TillingDetails" == key %}
            <input type="checkbox" id="myCheck2"   name="hello" value="Tilling" onclick="tillingFunction()"> <label><b>TillingDetails</b></label> <br>
            <div class="checkboxes" id="tillingsuboptions" style="display:none;">
            <input type="checkbox" id="subtill3"   name="tilling" value="Tilling" onclick="subtillingFunction()"> <label>AllDetails</label>
            <input type="checkbox" id="subtill"    name="tilling" value="AppliedTillage" onclick="subtillingFunction()"> <label>AppliedTillage</label>
            <input type="checkbox" id="subtill1"   name="tilling" value="NamesOfMachinesUsedTillage" onclick="subtillingFunction()"> <label>NamesOfMachinesUsed</label>
            <input type="checkbox" id="subtill2"   name="tilling" value="NamesOfPeopleWorkedTillage" onclick="subtillingFunction()"> <label>NamesOfPeopleWorked</label><br><br>
            </div>
        {% endif %}


        {% if "CropDetails" == key %}
            <input type="checkbox" id="myCheck3"   name="hello" value="Plantation" onclick="cropFunction()"> <label><b>CropDetails</b></label> <br>
            <div class="checkboxes" id="cropsuboptions" style="display:none;">
            <input type="checkbox" id="subcrop5"   name="crop" value="Plantation" onclick="subcropFunction()"> <label>AllDetails</label>
            <input type="checkbox" id="subcrop"    name="crop" value="SownCropsInFields" onclick="subcropFunction()"> <label>SownCropsInFields</label>
            <input type="checkbox" id="subcrop1"   name="crop" value="TotalsownQuantityInKgPerHa" onclick="subcropFunction()"> <label>TotalsownQuantityInKgPerHa</label>
            <input type="checkbox" id="subcrop2"   name="crop" value="NamesOfPeopleWorkedPlantation" onclick="subcropFunction()"> <label>NamesOfPeopleWorked</label>
            <input type="checkbox" id="subcrop3"   name="crop" value="AppliedPesticideAgents" onclick="subcropFunction()"> <label>AppliedPesticideAgents</label>
            <input type="checkbox" id="subcrop4"   name="crop" value="TotalPesticideAmountUsedInLPerHa" onclick="subcropFunction()"> <label>TotalPesticideAmountUsedInLPerHa</label>
            <br><br>
            </div>
        {% endif %}


        {% if "SeedingDetails" == key %}
            <input type="checkbox" id="myCheck4"   name="hello" value="Seeding" onclick="seedingFunction()"> <label><b>SeedingDetails</b></label> <br>
            <div class="checkboxes" id="seedingsuboptions" style="display:none;">
            <input type="checkbox" id="subseeding4"   name="seeding" value="Seeding" onclick="subseedingFunction()"> <label>AllDetails</label>
            <input type="checkbox" id="subseeding"    name="seeding" value="TotalAmountOfFertilizerUsed" onclick="subseedingFunction()"> <label>TotalAmountOfFertilizerUsed</label>
            <input type="checkbox" id="subseeding1"   name="seeding" value="TotalNumberOfPeopleWorkedFertilizer" onclick="subseedingFunction()"> <label>TotalNumberOfPeopleWorked</label>
            <input type="checkbox" id="subseeding2"   name="seeding" value="NamesOfPersonsWorkedFertilizer" onclick="subseedingFunction()"> <label>NamesOfPersonsWorked</label>
            <input type="checkbox" id="subseeding3"   name="seeding" value="FertilizerAgentsUsed" onclick="subseedingFunction()"> <label>FertilizerAgentsUsed</label>
            <br><br>
            </div>
        {% endif %}


    {% endif %}
{% endfor %}

<br>
<br>
<br>
    <label> <b> Please Choose The Output Format </b></label>
    <br>
    <input type="radio" name="options" id="option1" value="HTML"> HTMLFormat </input><br>
    <input type="radio" name="options" id="option2" value="PDF"> PDF </input><br>
    <input type="radio" name="options" id="option3" value="LATEX"> Latex </input><br>
    <input type="submit">

</span>
</div>

<table id="one" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="two" style="display: none">
        <tr>
            <td>
                Total Amount Of Fertilizer Used in KG Per Ha is
            </td>
            <td>
                {{ specific_value['TotalAmountOfFertilizerUsedinKGPerHa'] }}
            </td>
        </tr>
    </p>

</table>

<table id="three" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="four" style="display: none">
        <tr>
            <td>
                Total Amount Of Fertilizer Used in Dt Per Ha is
            </td>
            <td>
                {{ specific_value['TotalAmountOfFertilizerUsedinDtPerHa'] }}
            </td>
        </tr>
    </p>

</table>

<table id="five" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="six" style="display: none">
        <tr>
            <td>
                Applied Mineral Fertilizer Agents are
            </td>
            <td>
                {% for item in specific_value['AppliedMineralFertilizerAgents'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="seven" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="eight" style="display: none">
        <tr>
            <td>
                Total Amount Of Mineral Fertilizer Nitrogen Content In Kg Per Ha is
            </td>
            <td>
                {{ specific_value['TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa'] }}
            </td>
        </tr>
    </p>

</table>

<table id="nine" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="ten" style="display: none">
        <tr>
          <td>
                Names of The People Worked On Fields are
            </td>
            <td>
                {% for item in specific_value['NamesOfPeopleWorkedFertilizer'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="eleven" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="twelve" style="display: none">
        <tr>
            <td>
                Harvested Crops In Fields are
            </td>
            <td>
                {% for item in specific_value['HarvestedCrops'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>
</table>

<table id="thirteen" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="fourteen" style="display: none">
        <tr>
            <td>
                Total Harvested Quantity In Dt Per Ha is
            </td>
            <td>
                {{ specific_value['TotalHarvestedQuantityInDtPerHa'] }}
            </td>
        </tr>
    </p>

</table>

<table id="fifteen" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="sixteen" style="display: none">
        <tr>
            <td>
                Names of The People Worked On Fields are
            </td>
            <td>
                {% for item in specific_value['NamesOfPeopleWorkedHarvesting'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="seventeen" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="eighteen" style="display: none">
        <tr>
            <td>
                Names of The People Worked On Fields are
            </td>
            <td>
                {% for item in specific_value['NamesOfMachinesUsedHarvesting'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="ninteen" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="twenty" style="display: none">
        <tr>
            <td>
                Applied Tillage On Fields
            </td>
            <td>
                {% for item in specific_value['AppliedTillage'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="twentyone" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="twentytwo" style="display: none">
        <tr>
            <td>
                Names of Machines Used for Tillage are
            </td>
            <td>
                {% for item in specific_value['NamesOfMachinesUsedTillage'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="twentythree" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="twentyfour" style="display: none">
        <tr>
            <td>
                Names of People Worked for Tillage are
            </td>
            <td>
                {% for item in specific_value['NamesOfPeopleWorkedTillage'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="twentyfive" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="twentysix" style="display: none">
        <tr>
            <td>
                Names of People Worked for Tillage are
            </td>
            <td>
                {% for item in specific_value['SownCropsInFields'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="twentyseven" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="twentyeight" style="display: none">
        <tr>
            <td>
                Names of People Worked for Tillage are
            </td>
            <td>
                {{ specific_value['TotalsownQuantityInKgPerHa'] }}
            </td>
        </tr>
    </p>

</table>

<table id="twentynine" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="thirty" style="display: none">
        <tr>
            <td>
                Names of People Worked for Tillage are
            </td>
            <td>
                {% for item in specific_value['NamesOfPeopleWorkedPlantation'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="thirtyone" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="thirtytwo" style="display: none">
        <tr>
            <td>
                Names of People Worked for Tillage are
            </td>
            <td>
                {% for item in specific_value['AppliedPesticideAgents'] -%}
                    {{ item }}
                    <br>
                {%- endfor %}
            </td>
        </tr>
    </p>

</table>

<table id="thirtythree" border="1" style="display: none;" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="thirtyfour" style="display: none">
        <tr>
            <td>
                Names of People Worked for Tillage are
            </td>
            <td>
                {{ specific_value['TotalPesticideAmountUsedInLPerHa'] }}
            </td>
        </tr>
    </p>

</table>

<table id="texttable" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="text" style="display:none">
        {% for dict_item in details %}
            {% for key, value in dict_item.items() %}
                {% if "ApplyingFertilizer" == dict_item.get("activity") %}
                    {% if "image" != key  %}
                        <tr>
                        <td> {{ FertilizerDetails[key] }} </td>
                        <td> <b>{{ value }}</b>  </td>
                        </tr>
                    {% endif %}

                     {% if "image" == key  %}
                         <tr>
                         <td>Image For The Activity</td>
                         <td><img src="{{dict_item.get("image")}}" style="max-width:300px;"></td>
                         </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>
        </tr>
</table>

<table id="texttable1" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="text1" style="display:none">
        {% for dict_item in details %}
            {% for key, value in dict_item.items() %}
                {% if "Harvesting" == dict_item.get("activity") %}
                    {% if "image" != key  %}
                        <tr>
                        <td> {{ HarvestingDetails[key] }} </td>
                        <td> <b>{{ value }}</b>  </td>
                        </tr>
                    {% endif %}

                     {% if "image" == key  %}
                         <tr>
                         <td>Image For The Activity</td>
                         <td><img src="{{dict_item.get("image")}}" style="max-width:300px;"></td>
                         </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>
        </tr>
</table>

<table id="texttable2" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="text2" style="display:none">
        {% for dict_item in details %}
            {% for key, value in dict_item.items() %}
                {% if "Tilling" == dict_item.get("activity") %}
                    {% if "image" != key  %}
                        <tr>
                        <td> {{ TillingDetails[key] }} </td>
                        <td> <b>{{ value }}</b>  </td>
                        </tr>
                    {% endif %}

                     {% if "image" == key  %}
                         <tr>
                         <td>Image For The Activity</td>
                         <td><img src="{{dict_item.get("image")}}" style="max-width:300px;"></td>
                         </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>
        </tr>
</table>

<table id="texttable3" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="text3" style="display:none">
        {% for dict_item in details %}
            {% for key, value in dict_item.items() %}
                {% if "Plantation" == dict_item.get("activity") %}
                    {% if "image" != key  %}
                        <tr>
                        <td> {{ PlantationDetails[key] }} </td>
                        <td> <b>{{ value }}</b>  </td>
                        </tr>
                    {% endif %}

                     {% if "image" == key  %}
                         <tr>
                         <td>Image For The Activity</td>
                         <td><img src="{{dict_item.get("image")}}" style="max-width:300px;"></td>
                         </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>
        </tr>
</table>

<table id="texttable4" border="1" style="display: none" width="50%" align="center">
<tr>
    <td width="30%"><b>Details</b></td>
    <td width="20%"><b>Values</b></td>
</tr>

    <p id="text4" style="display:none">
        {% for dict_item in details %}
            {% for key, value in dict_item.items() %}
                {% if "Seeding" == dict_item.get("activity") %}
                    {% if "image" != key  %}
                        <tr>
                        <td> {{ SeedingDetails[key] }} </td>
                        <td> <b>{{ value }}</b>  </td>
                        </tr>
                    {% endif %}

                     {% if "image" == key  %}
                         <tr>
                         <td>Image For The Activity</td>
                         <td><img src="{{dict_item.get("image")}}" style="max-width:300px;"></td>
                         </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>
        </tr>
</table>


</form>
<button type="button" class="btn btn-lg btn-block"><a href="/">Cancel</a></button>
</body>
</html>