<!DOCTYPE html>
<html lang="en">
<head>
    <title>Activities In Farm Field</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  text-align: left;
}

table, th, td {
        border: 1px solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    }

</style>
</head>
<body>

{% set descriptionDetails = ({"appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is :",
                                 "appliedMineralFertilizerAgent": "The applied Mineral Fertilizer Agent is:",
                                 "appliedFertilizerAmountInDtPerHa":"The amount of Fertilizer Used is in Dts is:",
                                 "appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is in Kgs is:",
                                 "appliedMineralFertilizerNitrogenContentInKgPerHa": "The total amount of Mineral Fertilizer Nitrogen Content Used In Kg is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field ",
                                 "sownCrop":"The sown crop is :",
                                 "sownQuantityInKgPerHa": "The sown quantity in KG per Ha is",
                                 "appliedPesticideAgent":"The applied Pesticide Agent is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Machinename":"The Machine Name is",
                                 "harvestedCrop":"The Harvested crop is :",
                                 "harvestedQuantityInDtPerHa": "The Harvested Crop quantity in KG per Ha is",
                                 "transportedHarvest":"The Transported Harvest is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "appliedTillage":"The Applied Tillage is :",
                                 "TotalAmountOfFertilizerUsedinKGPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "TotalAmountOfFertilizerUsedinDtPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "AppliedMineralFertilizerAgents" : "Applied Mineral Fertilizer Agents are",
                                 "TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa" : "The Total Amount Of Mineral Fertilizer Nitrogen Content In Kg Per Ha is.",
                                 "NamesOfPeopleWorkedFertilizer": "The Names Of Farmers Who Worked On Fertilizer Activity ",
                                 "HarvestedCrops":"Harvested Crops are",
                                 "TotalHarvestedQuantityInDtPerHa":"The Total Amount Of Harvested Quantity in Dt Per Ha is",
                                 "NamesOfPeopleWorkedHarvesting":"The Names Of Farmers Who Worked On Harvesting Activity",
                                 "NamesOfMachinesUsedHarvesting":"The Names Of Machines Are Used For harvesting are",
                                 "AppliedTillage":"Applied Tillage Methods are",
                                 "NamesOfPeopleWorkedTillage":"The Names Of Farmers Who Worked On Tillage Activity are",
                                 "NamesOfMachinesUsedTillage":"The Names Of Machines Are Used For Tillage are",
                                 "SownCropsInFields":"The Sown Crops in Fields are",
                                 "NamesOfPeopleWorkedPlantation":"The Names Of Farmers Who Worked On Plantation Activity are",
                                 "TotalsownQuantityInKgPerHa":"The Total Amount Of Sown Quantity In KG PerHa is",
                                 "AppliedPesticideAgents":"APplied Pesticide Agents are",
                                 "TotalPesticideAmountUsedInLPerHa":"The Total Amount Of Pesticide Amount Used In L Per Ha is"}) %}

<h1 style="text-align:center">Activities Performed On Fields : {% for dict_item in details %} {{dict_item.get("Fieldname")}} {% endfor %} </h1>
<img src= "{{ user_image }}" hspace="30" class="center" align="middle">
<br>
<table border="2" style="text-align: left" width="60%" align="center">
{% for dict_item in details %}
<tr><td><img src="{{ dict_item.get("image")}}" style="max-width:200px;"><td><td align="left">


    <b>{{"Date"}} : {{dict_item.get("date")}}</b>
    <br>
    <b>{{"Time"}} : {{dict_item.get("time")}}</b>
    <br>
    <b>{{"Performed Activity On Field"}} : {{dict_item.get("activity")}}</b>
    <br>
    <b>{{"Field Name"}} : {{dict_item.get("Fieldname")}}</b>
    <br>
    <br>

   {% for key, value in dict_item.items() %}
   {% if "image" != key  %}
           {% if "date" != key  %}
               {% if "time" != key %}
                  {% if "activity" != key %}
                      {% if "Fieldname" != key %}
                        {% if value != '' %}
            {{ descriptionDetails[key] }} : <b> {{ value }} </b> <br>
                {% endif %}
               {% endif %}
              {% endif %}
          {% endif %}
          {% endif %}
          {% endif %}
   {% endfor %}
   <br>
   </td>
   </tr>

{% endfor %}
</table>

<br>
<br>

<table border="2" style="text-align: left" width="60%" align="center">
    {% for key, value in details1.items() %}
        <tr>
        <td>
            {{ descriptionDetails[key] }}
        </td>
        <td>
            {% if value is iterable and value is string %}
                {{ value }}
            {% endif %}

            {% if value is iterable and value is not string %}
                {% for item in value -%}
                    {{ item }} &nbsp;
                {%- endfor %}
            {% endif %}
        </td>

        </tr>
    {% endfor %}
</table>

{#<input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />#}
{#<br>#}
{% if html %}
<button type="button" class="btn btn-lg btn-block"><a href="#" onclick="history.go(-1)">Go Back</a></button>\
{% endif %}
</body>