{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center">Choose The Activity For The Field</h1>
{% endblock %}

{% block body %}
<!-- Button group -->
    <br>
    <br>
    <form method="post">
{#    <button type="button" class="btn btn-warning btn-lg btn-block">Field Details</button>#}
    <input class="btn btn-warning btn-lg btn-block" type="submit" name="fielddetails" value="Field Details">

    <br>
    <br>

    <input class="btn btn-warning btn-lg btn-block" type="submit" name="seedingdetails" value="Seeding">

    <br>
    <br>

    <input class="btn btn-warning btn-lg btn-block" type="submit" name="plantationdetails" value="Plantation Details">


    <br>
    <br>

    <input class="btn btn-warning btn-lg btn-block" type="submit" name="harvestingdetails" value="Harvesting Details">


    <br>
    <br>

    <input class="btn btn-warning btn-lg btn-block" type="submit" name="wateringdetails" value="Watering Details">

    <br>
    <br>
    </form>
    <div class="text-center">
    <form method="post">
    <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Submit">
    </form>
    </div>
{% endblock %}

{% block content %}

{% endblock %}