<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<script>

function onButtonClick(x){
  {#var newradio = document.getElementById('radio1');#}
  {#var divtext = document.getElementById("divtext");#}
  {#divtext.style.display = newradio.checked ? "block" : "none";#}

  if (x==0){
      document.getElementById("modification").style.display = "block";
      document.getElementById("deletion").style.display = "none";
      {#document.getElementById("results2").style.display = "none";#}
  }

  if (x==1) {
      document.getElementById("modification").style.display = "none";
      document.getElementById("deletion").style.display = "block";
      {#document.getElementById("results2").style.display = "none";#}
  }

  {#if (x==2) {#}
  {#    document.getElementById("divtext").style.display = "none";#}
  {#    document.getElementById("results1").style.display = "none";#}
  {#    document.getElementById("results2").style.display = "block";#}
  {#}#}
}

</script>
<h1 align="center">Please Select Topics Of Interest for Modification</h1>
<br>

<form method="post" action="/{{route}}"  enctype="multipart/form-data">

{#    <input type="radio" id={{ topicsofinterest }}  name="topicsofinterest" value={{ topicsofinterest }}> <label>{{ topicsofinterest }}</label> <br>#}

    <div class="radio">
      <label><input type="radio" name="visualization1" value="Visualization1" id="radio1" onchange="onButtonClick(0)" checked>Choose Topic Of Interest For Modification</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="visualization1" value="Visualization2" onclick="onButtonClick(1)">Choose Topic Of Interest For Deletion</label>
    </div>
    <br>
    <br>


    <div name="" id="modification" style="display: none">
    {% if not display %}
    <div class="form-group">
    <label for="exampleFormControlSelect1"><h5>Choose Topic Of Interest For Modification</h5></label>
    <select class="form-control" id="exampleFormControlSelect1" name="topicofinterest">
        <option name="topicsofinterest">Select the Topic</option>
        {% for topicsofinterest in checkboxes %}
            <option name="topicsofinterest" value={{ topicsofinterest }}>{{ topicsofinterest }}</option>
        {% endfor %}
    </select>
    </div>
    {% endif %}
    </div>

    <br>
    <br>
    <br>

    <div name="" id="deletion" style="display: none">
    {% if not display %}
    <div class="form-group">
    <label for="exampleFormControlSelect1"><h5>Choose Topic Of Interest For Deletion </h5></label>
    <select class="form-control" id="exampleFormControlSelect2" name="topicofinterestdeletion">
        <option name="topicsofinterestdeletion">Select the Topic</option>
        {% for topicsofinterest in checkboxes %}
            <option name="topicsofinterestdeletion" value={{ topicsofinterest }}>{{ topicsofinterest }}</option>
        {% endfor %}
    </select>
    </div>
    {% endif %}
    </div>

    {% if display %}
        {% for key, value in queryvalue.items() %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Modify The Topic Name</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" name="newtopicname" value={{ key }} aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Please Modify The Query</label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" name="newtopicvalue" rows="15">{{ value }}</textarea>
        </div>
        {% endfor %}
    {% endif %}

    <br>
    <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
    <br>
    {% if not display %}
    <button type="button" class="btn btn-lg btn-block"><a href="/">Cancel</a></button>
    <br>
    {% else %}
    <button type="button" class="btn btn-lg btn-block"><a href="#" onclick="history.go(-1)">Go Back</a></button>
    <br>
    {% endif %}

</form>

</body>
</html>