{#<!DOCTYPE html>#}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{#</head>#}
{#<body>#}
{##}
{#<script>#}
{##}
{#function myFunction() {#}
{#  var display = document.getElementById("templatedisplay");#}
{#  display.style.display = "block";#}
{#}#}
{#</script>#}
{##}
{##}
{#<h1 align="center"> Please Choose A Template to Edit </h1>#}
{#<br>#}
{#<br>#}
{##}
{#<form method="post" action="/{{route}}"  enctype="multipart/form-data">#}
{#{% for template in templates %}#}
{##}
{#    <input type="submit" class="btn btn-primary btn-lg btn-block" name={{ template }} value={{ template }}>#}
{##}
{#{% endfor %}#}
{#<br>#}
{#<br>#}
{##}
{#<p id="demo" onclick="myFunction()">Please Click Me To Add New Templates</p>#}
{##}
{#<br>#}
{#<br>#}
{#<div id="templatedisplay" style="display: none">#}
{#  {{ wtf.quick_form(form, button_map={'submit':'success'}) }}#}
{#  <br>#}
{#  <br>#}
{#    <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />#}
{#    <br>#}
{#    <button type="button" class="btn btn-lg btn-block"><a href="/">Cancel</a></button>#}
{#    <br>#}
{##}
{#</div>#}
{##}
{#</form>#}
{##}
{#</body>#}
{#</html>#}


{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}

{% block body %}

<script>

function myFunction() {
  var display = document.getElementById("templatedisplay");
  display.style.display = "block";
}

function onButtonClick(){
  document.getElementById('textInput').className="show";
}

function onButtonClick1(){
  document.getElementById('textInput1').className="show";
}

</script>

<style type="text/css">

.hide{
  display:none;
}
.show{
  display:block;
}

body {
  background-image: url("/static/images/farmer2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
    height: auto;
}
</style>

{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="container1">
      <h1>Available EndUser Templates.</h1>
      <br>
      <br>
      <br>
  </div>
    <div class="container">
    <form method="post">
        {% for template in templates %}
            <input type="submit" class="button2" name={{ template }} value={{ template }}>
            <br>
            <br>
        {% endfor %}
        <br>
{#        <input type="submit" class="button2" name="Agriculture Minister" value="Agriculture Minister">#}
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Contractor" value="Contractor">#}
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Customer" value="Customer">#}
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Custom Query" value="Custom Query">#}
    <br>
    <br>

{#    <p id="demo" onclick="myFunction()">Please Click Me To Add New Templates</p>#}

    <input type="button" name="answer" value="Add A New Template" onclick="onButtonClick()" />
    <br>
    <br>
    <input type="button" name="answer1" value="Delete The Existing Template" onclick="onButtonClick1()" />
    <br>
    <br>
    <input class="hide" type="text" id="textInput" name="newTemplatename"/>
    <br>
    <input class="hide" type="text1" id="textInput1" name="deleteTemplatename"/>

    <br>
    <br>

{#    <div class="hide "id="textInput" style="display: none">#}
{#        {% import "bootstrap/wtf.html" as wtf %}#}
{#        {{ wtf.quick_form(form, button_map={'submit':'success'}) }}#}
{#    <br>#}

    <br>
        <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
    <br>
        <button type="button" class="btn btn-warning btn-lg btn-block"><a href="/">Cancel</a></button>
    <br>
    </div>

    </form>
  </div>
{% endblock %}