{% extends 'base.html' %}

{% block head %}
<h1 align="center">Report</h1>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <style>
    .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:48%;    //Specify your width here
    }

    {#*#}
    {#{#}
    {#text-align: center !important;#}
    {#margin: auto !important;#}
    {#}#}

    {#table{#}
    {#    text-align: left !important;#}
    {#}#}

    body{
        text-align: center;
    }

    h1 {
    font-size: 30pt;
    }

    table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 3px solid purple;
  text-align: left !important;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 10px;
}
    </style>
{% endblock %}


{% block body %}

    <div id="mapid" style="height: 300px; width: 50%; margin:0 auto;" align="center"></div>
    <script>

    //var mymap = L.map('mapid', {doubleClickZoom: false}).locate({setView: true, maxZoom: 22});

    var mymap = L.map('mapid', {
    minZoom: 9,
    maxZoom: 18,
    zoom: 12,
    center: [40.423494,-3.682068],
    doubleClickZoom: false,
        }).locate({setView: true});

    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                }).addTo(mymap);;


prefillgeo = {{prefill|safe}};
if (prefillgeo != null) {
    var prefill = new L.geoJson();
    prefill.addTo(mymap);
    prefill.bindPopup("{{message2}}");
    prefill.addData(prefillgeo);
    document.getElementById("wkt").value = toWKT(layer);
}
    </script>
{% endblock %}

{% block content %}
    {% set descriptionDetails = ({"appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is :",
                                 "appliedMineralFertilizerAgent": "The applied Mineral Fertilizer Agent is:",
                                 "appliedFertilizerAmountInDtPerHa":"The amount of Fertilizer Used is in Dts is:",
                                 "appliedFertilizerAmountInKgPerHa":"The amount of Fertilizer Used is in Kgs is:",
                                 "appliedMineralFertilizerNitrogenContentInKgPerHa": "The total amount of Mineral Fertilizer Nitrogen Content Used In Kg is",
                                 "Personname":"The Person who performed activity is :",
                                 "Comments":"The comments given by user is :",
                                 "image":"The Image for the activity is",
                                 "date" : "The Activity Performed On the day :",
                                 "time" : "Time Of The Activity ",
                                 "Fieldname" : "Fieldname is",
                                 "activity" : "The Activity Performed on the field ",
                                 "sownCrop":"The sown crop is :",
                                 "sownQuantityInKgPerHa": "The sown quantity in KG per Ha is",
                                 "appliedPesticideAgent":"The applied Pesticide Agent is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "Machinename":"The Machine Name is",
                                 "harvestedCrop":"The Harvested crop is :",
                                 "harvestedQuantityInDtPerHa": "The Harvested Crop quantity in KG per Ha is",
                                 "transportedHarvest":"The Transported Harvest is",
                                 "appliedPesticideAmountInLPerHa":"The applied Pestidide Amount in LPer Ha is",
                                 "appliedTillage":"The Applied Tillage is :",
                                 "TotalAmountOfFertilizerUsedinKGPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "TotalAmountOfFertilizerUsedinDtPerHa": "The Total Amount Of Fertilizer Used in KG Per Ha is",
                                 "AppliedMineralFertilizerAgents" : "Applied Mineral Fertilizer Agents are",
                                 "TotalAmountOfMineralFertilizerNitrogenContentInKgPerHa" : "The Total Amount Of Mineral Fertilizer Nitrogen Content In Kg Per Ha is.",
                                 "NamesOfPeopleWorkedFertilizer": "The Names Of Farmers Who Worked On Fertilizer Activity ",
                                 "HarvestedCrops":"Harvested Crops are",
                                 "TotalHarvestedQuantityInDtPerHa":"The Total Amount Of Harvested Quantity in Dt Per Ha is",
                                 "NamesOfPeopleWorkedHarvesting":"The Names Of Farmers Who Worked On Harvesting Activity",
                                 "NamesOfMachinesUsedHarvesting":"The Names Of Machines Are Used For harvesting are",
                                 "AppliedTillage":"Applied Tillage Methods are",
                                 "NamesOfPeopleWorkedTillage":"The Names Of Farmers Who Worked On Tillage Activity are",
                                 "NamesOfMachinesUsedTillage":"The Names Of Machines Are Used For Tillage are",
                                 "SownCropsInFields":"The Sown Crops in Fields are",
                                 "NamesOfPeopleWorkedPlantation":"The Names Of Farmers Who Worked On Plantation Activity are",
                                 "TotalsownQuantityInKgPerHa":"The Total Amount Of Sown Quantity In KG PerHa is",
                                 "AppliedPesticideAgents":"APplied Pesticide Agents are",
                                  "predicate": "Details",
                                 "object":"Value",
                                 "subject":"The Log Journal Name is",
                                 "TotalPesticideAmountUsedInLPerHa":"The Total Amount Of Pesticide Amount Used In L Per Ha is"}) %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

{% import "bootstrap/wtf.html" as wtf %}
<form method="post" action="/{{route}}"  enctype="multipart/form-data">
    <br>
  <fieldset>
    <div align="left">
{#        <label><b>Please Choose The Output Format</b></label>#}
        {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
    </div>
{#        <label> <b> Please Choose The Output Format </b></label>#}
{#        <br>#}
{#        <input type="radio" name="options" id="option1" value="HTML"> HTMLFormat </input><br>#}
{#        <input type="radio" name="options" id="option2" value="PDF"> PDF </input><br>#}
{#        <input type="radio" name="options" id="option3" value="LATEX"> Latex </input><br>#}
{#        <input type="submit">#}


      <br>
      <br>
      <br>

{#      {% for item in topicwithqueryvalues %}#}
{#          <h3 align="center"> {{ item }}</h3>#}
{#          {% for item in topicwithqueryvalues[item] %}#}
{#              {% for key, value in item.items() %}#}
{#               {% if "POLYGON" not in value and "asWKT" not in value %}#}
{#                  {% if "base64" in value %}#}
{#                      <img src="{{ value }}" style="max-width:300px;"> <br><br>#}
{#                  {% endif %}#}
{#                  {{ value }}#}
{#              {% endif %}#}
{#              {% endfor %}#}
{#              {{ item }}#}
{#               <table border="1"  align="center" width="auto">#}
{#              <tr>#}
{#               {% for key, value in item.items() if loop.first %}#}
{#                   <td align="left"><b>{{ key }}</b></td>#}
{#              {% endfor %}#}
{#              </tr>#}
{##}
{#              <tr>#}
{##}
{#              {% for key, value in item.items() %}#}
{#                  {% if "POLYGON" not in value and "asWKT" not in value and "image" not in value %}#}
{#                      {% if "data:image/jpeg;base64," not in value %}#}
{#                          {% if value in descriptionDetails %}#}
{#                              <td align="left" width="40%"> {{ descriptionDetails[value] }}#}
{#                          {% endif %}#}
{##}
{#                          {% if value not in descriptionDetails %}#}
{#                              <td align="left" width="40%"> {{ value }}#}
{#                          {% endif %}#}
{#                      {% endif %}#}
{#                  {% endif %}#}
{##}
{#              {% endfor %}#}
{##}
{#              </tr>#}
{##}
{#               </table>#}
{#          {% endfor %}#}
{#      {% endfor %}#}
{##}
{#      <br>#}
{#      <br>#}
{#      <h1>Seperator</h1>#}


      {% for dict_item in topicwithqueryvalues %}
          <h1> {{ dict_item }} </h1>
          {#          <b>{{ dict_item }}</b>#}
          <table border="1"  align="center" width="auto">
              <tr>
                  {% for result in topicwithqueryvalues[dict_item] %}
                      {#              {{ result }}#}
                      {% for key, value in result.items() if loop.first %}

                          <td align="left"><b>{{ key }}</b></td>

                      {% endfor %}
                      </tr>

                      <tr>

                          {% for key, value in result.items() %}
                              {% if "POLYGON" not in value and "asWKT" not in value %}
                                  {% if "data:image/jpeg;base64," in value %}
                                      <td align="left"><img src="{{ value }}" style="max-width:300px;"></td>
                                  {% endif %}

                                  {% if "data:image/jpeg;base64," not in value %}
                                      {% if value in descriptionDetails %}
                                          <td align="left" width="40%"> {{ descriptionDetails[value] }}
                                      {% endif %}

                                  {% if value not in descriptionDetails %}
                                      <td align="left" width="40%"> {{ value }}
                                  {% endif %}
                                  {% endif %}
                              {% endif %}

                          {% endfor %}

                      </tr>

                  {% endfor %}
          </table>
          <br>
          <br>
      {% endfor %}


{#  <table border="1" style="text-align: center" align="center">#}
{##}
{#    <tr>#}
{#    {% for dict_item in tripples %}#}
{#        {% for key, value in dict_item.items() if loop.first %}#}
{##}
{#        <td align="left"><b>{{ key }}</b></td>#}
{##}
{#        {% endfor %}#}
{#    {% endfor %}#}
{#    </tr>#}
{##}
{##}
{#    {% for dict_item in tripples %}#}
{#        <tr>#}
{##}
{#        {% for key, value in dict_item.items() %}#}
{#            {% if "POLYGON" not in value %}#}
{#                {% if "data:image/jpeg;base64," in value %}#}
{#                    <td align="left"><img src="{{ value }}" style="max-width:85px;"></td>#}
{#                {% endif %}#}
{##}
{#                {% if "data:image/jpeg;base64," not in value %}#}
{#                    <td align="left" width="40%"> {{ value }} </td>#}
{#                 {% endif %}#}
{#            {% endif %}#}
{##}
{#        {% endfor %}#}
{##}
{#        </tr>#}
{##}
{#    {% endfor %}#}
{##}
{#  </table>#}


{#  <table border="1" style="text-align: left" align="center" width="60%">#}
{#    <tr>#}
{#    <td align="center"><b>LogJournal</b></td>#}
{#    <td align="center"><b>Details</b></td>#}
{#    <td align="center"><b>Values</b></td>#}
{#    </tr>#}
{##}
{#        {% for dict_item in tripples %}#}
{#             {% if "Error" not in dict_item %}#}
{#                 <tr>#}
{#                 {% if dict_item.get("subject") != None %}#}
{#                        <td> {{  dict_item.get("subject") }}</td>#}
{#                 {% endif %}#}
{##}
{#                     <td align="left"> {{  descriptionDetails[dict_item.get("predicate")] }}</td>#}
{##}
{#                     {% if "image" !=  dict_item.get("predicate") %}#}
{#                        <td align="left"> {{  dict_item.get("object") }}</td> </tr>#}
{#                     {% endif %}#}
{##}
{#                     {% if "image" ==  dict_item.get("predicate") %}#}
{#                         <td align="left"><img src="{{ dict_item.get("object") }}" style="max-width:300px;"></td> </tr>#}
{#                     {% endif %}#}
{##}
{#             {% endif %}#}
{##}
{#            {% if "Error" in dict_item %}#}
{##}
{#            {% for key, value in dict_item.items() %}#}
{##}
{#                <b> {{ key }} : {{ value }} </b> <br> <br>#}
{##}
{#            {% endfor %}#}
{##}
{#            {% endif %}#}
{##}
{##}
{#        {% endfor %}#}
{#  </table>#}
  <br>
  <br>
  <br>
    <input class="btn btn-warning btn-xl " type="submit" name="submit" value="submit" />
    <button type="button" class="btn btn-xl "><a href="/">Cancel</a></button>
{#    <input class="btn btn-warning btn-lg" type="cancel" value="Cancel" />#}
  </fieldset>
    </form>
{% endblock %}