{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<style type="text/css">

body {
  background-image: url("/static/images/farmer2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html {
    height: auto;
}
</style>

{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="container1">
      <h1>Please Choose The Available End User Templates </h1>
      <br>
      <br>
      <br>
  </div>
    <div class="container">
    <form method="post">
        {% for template in templates %}
            <input type="submit" class="button2" name="{{ template }}" value="{{ template }}">
            <br>
            <br>
        {% endfor %}
{#        <input type="submit" class="button2" name="Agriculture Minister" value="Agriculture Minister">#}
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Contractor" value="Contractor">#}
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Customer" value="Customer">#}
{#        <br>#}
{#        <br>#}
{#        <input type="submit" class="button2" name="Custom Query" value="Custom Query">#}
    </form>
  </div>
{% endblock %}