{% extends 'base.html' %}

{% block head %}
<h1>Choose Location</h1>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
{% endblock %}

{% block body %}
    <div id="mapid" style="height: 500px;"></div>
    <script>

    //var mymap = L.map('mapid').setView([51.505, -0.09], 13);
function toWKT (layer) {
    var lng, lat, coords = [];
		if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
			var latlngs = layer.getLatLngs();
		for (var i = 0; i < latlngs.length; i++) {
				var latlngs1 = latlngs[i];
				if (latlngs1.length){
				for (var j = 0; j < latlngs1.length; j++) {
					coords.push(latlngs1[j].lng + " " + latlngs1[j].lat);
					if (j === 0) {
						lng = latlngs1[j].lng;
						lat = latlngs1[j].lat;
					}
				}}
				else
				{
					coords.push(latlngs[i].lng + " " + latlngs[i].lat);
					if (i === 0) {
						lng = latlngs[i].lng;
						lat = latlngs[i].lat;
					}}
		};
			if (layer instanceof L.Polygon) {
				return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
			} else if (layer instanceof L.Polyline) {
				return "LINESTRING(" + coords.join(",") + ")";
			}
		} else if (layer instanceof L.Marker) {
			return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
		}
	};

    //var mymap = L.map('mapid', {doubleClickZoom: false}).locate({setView: true, maxZoom: 22});

    var mymap = L.map('mapid', {
    minZoom: 9,
    maxZoom: 18,
    zoom: 12,
    center: [40.423494,-3.682068],
    doubleClickZoom: false,
        }).locate({setView: true});

    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                }).addTo(mymap);;

prefillgeo = {{prefill|safe}};
if (prefillgeo != null) {
    var prefill = new L.geoJson();
    prefill.addTo(mymap);
    prefill.bindPopup("<b>Added Activity</b><br>{{message2}}");
    prefill.addData(prefillgeo);
    document.getElementById("wkt").value = toWKT(layer);
}

    var drawnItems = new L.featureGroup().addTo(mymap);
    var drawControl = new L.Control.Draw({
        draw: {
        circle: true,
        rectangle: true,
        polyline: true,
        polygon: true
    },
    edit: {featureGroup: drawnItems}
        }).addTo(mymap);

    drawControl.setDrawingOptions({
    rectangle: {
    	shapeOptions: {
        	color: '#7433FF'
        }
    }
    });

    mymap.addControl(drawControl);

 {#   mymap.on('draw:created', function(e) {
        var type = e.layerType;
        var layer = e.layer;
        var idIW = L.popup();
        var content = '<span><b>Shape Name</b></span><br/><input id="shapeName" type="text"/><br/><br/><span><b>Shape Description<b/></span><br/><textarea id="shapeDesc" cols="25" rows="5"></textarea><br/><br/><input type="button" id="okBtn" value="Save" onclick="saveIdIW()"/>';
        idIW.setContent(content);
        idIW.setLatLng(layer.getBounds().getCenter());
        alert(layer.getBounds().getCenter());
        idIW.openOn(mymap);
        //console.log(layer.getLatLngs());
        var points = layer._latlngs;
        var geojson = layer.toGeoJSON();
        drawnItems.addLayer(layer)
    });#}

    mymap.on('draw:created', function (e) {
        var type = e.layerType,
            layer = e.layer;

    if (type === 'polygon') {
        // structure the geojson object
        var geojson = {};
        geojson['type'] = 'Feature';
        geojson['geometry'] = {};
        geojson['geometry']['type'] = "Polygon";

        // export the coordinates from the layer
        let coordinates = [];
        let latlngs = layer.getLatLngs()[0];
        //console.log(typeof latlngs);
        //console.log(latlngs.length);
        //var m = latlngs.length;
        //console.log(m);

        //Need to modify code here
        for (var i = 0; i < latlngs.length; i++) {
            console.log(latlngs[i].lat);
            coordinates.push([latlngs[i].lng, latlngs[i].lat]);
            //console.log(coordinates);
        }

        // push the coordinates to the json geometry
        geojson['geometry']['coordinates'] = [coordinates];

        // Finally, show the poly as a geojson object in the console
        console.log(JSON.stringify(geojson));

    }

    if (type === 'rectangle') {
        // structure the geojson object
        var geojson = {};
        geojson['type'] = 'Feature';
        geojson['geometry'] = {};
        geojson['geometry']['type'] = "rectangle";

        // export the coordinates from the layer
        let coordinates = [];
        let latlngs = layer.getLatLngs()[0];
        console.log(typeof latlngs);
        console.log(latlngs.length);
        //var m = latlngs.length;
        //console.log(m);

        //Need to modify code here
        for (var i = 0; i < latlngs.length; i++) {
            console.log(latlngs[i].lat);
            coordinates.push([latlngs[i].lng, latlngs[i].lat]);
            //console.log(coordinates);
        }

        // push the coordinates to the json geometry
        geojson['geometry']['coordinates'] = [coordinates];

        // Finally, show the poly as a geojson object in the console
        console.log(JSON.stringify(geojson));

    }

    drawnItems.addLayer(layer);
    document.getElementById("wkt").value = toWKT(layer);

    });



    </script>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% import "bootstrap/wtf.html" as wtf %}
{{message}}
<br>
<img style="max-width: 200px" src="{{image}}" />
<form method="post" action="/{{route}}"  enctype="multipart/form-data">
  <fieldset>
    {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
    <input class="btn btn-success " name="submit" type="submit" value="Submit" />
    <input class="btn btn-outline-primary" name="update" type="submit" value="Update" />
    <button type="button" class="btn"><a href="/">Cancel</a></button>
    </form>
{% endblock %}
