{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <div class="container1">
      <h1>View Report</h1>
      <br>
      <br>
      <br>
  </div>
{% endblock %}
