<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
    <style>
    .btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:48%;    //Specify your width here
    }
    td
    {
        border: 1px solid black;
    }

    table{
        text-align: left !important;
        border: 3px solid black !important;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 50% !important;
    }

    table, th, td {
        border: 1px solid black;
    }

    table.a {
    table-layout: auto;
    {#width: 180px;#}
    width: 60%;
    border: 1px solid black;
    }

    th {
        height: 50px;
    }

    th, td {
    padding: 15px;
    }


    {#*#}
    {#{#}
    {#text-align: left !important;#}
    {#margin: auto !important;#}
    {#}#}

    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    </style>
</head>
<body>

<script>

function myFunction() {
  var display = document.getElementById("templatedisplay");
  display.style.display = "block";
}

function onButtonClick(x){
  {#var newradio = document.getElementById('radio1');#}
  {#var divtext = document.getElementById("divtext");#}
  {#divtext.style.display = newradio.checked ? "block" : "none";#}

  if (x==0){
      document.getElementById("divtext").style.display = "block";
      document.getElementById("results1").style.display = "none";
      document.getElementById("results2").style.display = "none";
  }

  if (x==1) {
      document.getElementById("divtext").style.display = "none";
      document.getElementById("results1").style.display = "block";
      document.getElementById("results2").style.display = "none";
  }

  if (x==2) {
      document.getElementById("divtext").style.display = "none";
      document.getElementById("results1").style.display = "none";
      document.getElementById("results2").style.display = "block";
  }
  if (x==3) {
      document.getElementById("divtext").style.display = "none";
      document.getElementById("results1").style.display = "none";
      document.getElementById("results2").style.display = "none";
  }


}

function onButtonClick1(){
  var newvar = document.getElementById('results1');
  newvar.style.display = 'block';
}

function onButtonClick2(){
  var newvar = document.getElementById('results2');
  newvar.style.display = 'block';
}

function myFunction(e) {
    document.getElementById("divtext").value = "block";
}

</script>

<h1 align="center">Please Select Topics Of Interest for {{ templatevalue }}</h1>

<form method="post" action="/{{route}}"  enctype="multipart/form-data">
{% for topicsofinterest in checkboxes %}
    {% for checkvalues in checked %}
        {% if checkvalues == topicsofinterest %}
        <input type="checkbox" id={{ topicsofinterest }}  name="topicsofinterest" value={{ topicsofinterest }} checked> <label>{{ topicsofinterest }}</label>
        {% endif %}
    {% endfor %}

    {% if topicsofinterest not in checked %}
    <input type="checkbox" id={{ topicsofinterest }}  name="topicsofinterest" value={{ topicsofinterest }}> <label>{{ topicsofinterest }}</label>
    {% endif %}
<br>
{% endfor %}
<br>
<br>

    {% if checkedtopics %}
        <br>
        <br>
        <h4>Please Choose The Visualization Template</h4>
        <br>
        <div class="radio">
          <label><input type="radio" name="visualization1" value="Visualization1" id="radio1" onchange="onButtonClick(3)" checked>None</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="visualization1" value="Visualization1" id="radio1" onchange="onButtonClick(0)">Visualization1</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="visualization1" value="Visualization2" onclick="onButtonClick(1)">Visualization2</label>
        </div>
        <div class="radio disabled">
          <label><input type="radio" name="visualization1" value="Visualization3" onclick="onButtonClick(2)">Visualization3</label>
        </div>

{#        <div class="form-group">#}
{#        <label for="exampleFormControlSelect1">Example select</label>#}
{#        <select class="form-control" id="exampleFormControlSelect1" name="selectoption" onchange="myFunction()">#}
{#            <option disabled selected>Choose Database Type</option>#}
{#            <option value="Green">green</option>#}
{#            <option value="Red">red</option>#}
{#            <option value="Orange">orange</option>#}
{#            <option value="Black">black</option>#}
{#        </select>#}
{#        </div>#}

    {% endif %}

    <br>
    <br>


    <div class="form-group">
    <label for="exampleFormControlSelect1"><h4>Please Choose Visualization Template</h4></label>
    <select class="form-control form-control-lg" id="exampleFormControlSelect1">
    {% for visutemplate in alltemplates %}
      <option>{{ visutemplate }}</option>
    {% endfor %}
    </select>
    </div>

    <div id="divtext" style="display: none">
    <div align="center">
        {% for key, value in resultsupdated.items() %}
            <h1 align="center">{{ key }} </h1>   <br>
         {% for key1, value1 in value.items() %}
            {% if 'example' in key1|string %}
            <table border="3" align="center" class="table table-striped">
            {% for key2, value2 in value1.items() %}
                <tr><td> <b> {{ key2 }} </b> </td>
                {% for othervalues in value2 %}
                    <tr><td> {{ othervalues }} </td></tr>
                {% endfor %}
                <br> <br>
            {% endfor %}
            </table> <br> <br>
            {% endif %}


        {% if "Logjournal" in key1|string %}
            <img src="{{ value1['image'] }}" style="max-width:500px;"> <br>

            <table border="3" align="center" class="table table-striped">
            <tr>
{#            <tr>#}
{#               <td align="center" width="30%" rowspan="{{ value1|length }}"><img align="center" src="{{ value1['image'] }}" style="max-width:300px;"></td>#}
               <td>JournalName</td>
               <td>{{ key1 }}</td>
            </tr>
            {% for key4, value4 in value1.items()  %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 and "image" not in key4 %}

                    <td>
                        {% if key4 in descriptionDetails %}
                            {{ descriptionDetails[key4] }}
                        {% else %}
                            {{ key4 }}
                        {% endif %}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

        {% if key1 is number %}
            <img src="{{ value1['image'] }}" style="max-width:500px;"> <br>

            <table border="3" align="center" width="50%" class="table table-striped">
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 and "image" not in key4 %}
                    <tr>
                    <td>
                         {% if key4 in descriptionDetails %}
                            {{ descriptionDetails[key4] }}
                        {% else %}
                            {{ key4 }}
                        {% endif %}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

    {% endfor %}
{% endfor %}

    </div>
    </div>

    <div align="center" style="display: none" id="results1">
        {% for key, value in resultsupdated.items() %}
    <h1 align="center">{{ key }} </h1>   <br>
    {% for key1, value1 in value.items() %}
{#        {{ key1 }} : {{ value1 }}#}
        {% if 'example' in key1|string %}
            <table border="3" align="center" class="table table-striped">
            {% for key2, value2 in value1.items() %}
                <tr><td> <b> {{ key2 }} </b> </td>
                {% for othervalues in value2 %}
                    <tr><td> {{ othervalues }} </td></tr>
                {% endfor %}
                <br> <br>
            {% endfor %}
            </table> <br> <br>
        {% endif %}


        {% if "Logjournal" in key1|string %}
            <table border="3" align="center" class="table table-striped">
            <tr>
               <td align="center" width="30%" rowspan="{{ value1|length }}"><img align="middle" src="{{ value1['image'] }}" style="max-width:300px;"></td>
               <td>JournalName</td>
               <td>{{ key1 }}</td>
            </tr>
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 and "image" not in key4 %}
                    <tr>
                    <td>
                        {% if key4 in descriptionDetails %}
                            {{ descriptionDetails[key4] }}
                        {% else %}
                            {{ key4 }}
                        {% endif %}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

        {% if key1 is number %}
            <table border="3" align="center" class="a">
            <tr>
            <td rowspan="{{ value1|length }}" align="center" width="30%">
                <img src="{{ value1['image'] }}" style="max-width:300px;">
            </td>
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 and "image" not in key4 %}
                    <tr>
                    <td>
                         {% if key4 in descriptionDetails %}
                            {{ descriptionDetails[key4] }}
                        {% else %}
                            {{ key4 }}
                        {% endif %}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

    {% endfor %}
{% endfor %}
    </div>

    <div align="center" style="display: none" id="results2">
        {% for key, value in resultsupdated.items() %}
    <h1 align="center">{{ key }} </h1>   <br>
    {% for key1, value1 in value.items() %}
{#        {{ key1 }} : {{ value1 }}#}
        {% if 'example' in key1|string %}
            <table border="3" align="center" class="a">
            {% for key2, value2 in value1.items() %}
                <tr><td> <b> {{ key2 }} </b> </td>
                {% for othervalues in value2 %}
                    <tr><td> {{ othervalues }} </td></tr>
                {% endfor %}
                <br> <br>
            {% endfor %}
            </table> <br> <br>
        {% endif %}


        {% if "Logjournal" in key1|string %}
            <table border="3" align="center" class="table table-striped">
            <tr>
               <td rowspan="{{ value1|length }}">{{ key1 }}</td>
            </tr>
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 %}
                    <tr>
                    <td>
                        {{ key4 }}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

        {% if key1 is number %}
            <table border="3" align="center" class="table table-striped">
            {% for key4, value4 in value1.items() %}
                {% if value4|length and "asWKT" not in key4 and "type" not in key4 %}
                    <tr>
                    <td>
                        {{ key4 }}
                    </td>
                    {% if "image" == key4 %}
                         <td align="left"><img src="{{ value4 }}" style="max-width:400px;"></td>
                    {% else %}
                        <td>
                        {{ value4 }}
                        </td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
            <br>
        {% endif %}

    {% endfor %}
{% endfor %}
    </div>


{#    "Hello My name is manoj"#}

{#    <div align="center" style="display: none" id="results3">#}
Text needs to be replaced
Include below for page no 13
{#    </div>#}


    <br>
    <input class="btn btn-warning btn-lg btn-block" type="submit" name="submit" value="Submit" />
    <br>
    <button type="button" class="btn btn-lg btn-block"><a href="/">Cancel</a></button>
    <br>

</form>

</body>
</html>